@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  background: #fff;
}

/* ==========
 TYPOGRAPHY
 ========== */
h1 {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: -0.4px;
}

h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.4px;
}

h3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}
