.hero {
  height: 46.75rem;
  background-color: #111111;
  background-image: url("./../../public/assets/homepage/hero-bg-mobile@2x.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.hero__text-content {
  position: absolute;
  top: 14.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 87.2%;
  max-width: 35.8125rem;
  text-align: center;
}

.hero__logo {
  margin: 0 auto 2.25rem;
}

.hero__text-content p {
  color: #fff;
  margin-bottom: 3.3125rem;
}
