.hero {
  height: 46.75rem;
  background-color: #111111;
  background-image: url("./../../public/assets/homepage/hero-bg-mobile@2x.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.hero__text-content {
  position: absolute;
  top: 14.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 87.2%;
  max-width: 35.8125rem;
  text-align: center;
}

.hero__logo {
  margin: 0 auto 2.25rem;
}

.hero__text-content p {
  color: #fff;
  margin-bottom: 3.3125rem;
}

@media (min-width: 48rem) {
  .hero {
    height: 62rem;
    background-image: url("./../../public/assets/homepage/hero-bg-tablet@2x.jpg");
  }

  .hero__text-content {
    top: 23.375rem;
    width: 89.7135416667%;
  }

  .hero__logo {
    width: 6.4375rem;
    height: 2.5rem;
    margin: 0 auto 2.375rem;
  }

  .hero__text-content p {
    margin-bottom: 3.25rem;
  }
}

@media (min-width: 90rem) {
  .hero {
    height: 51.25rem;
    background-image: url("./../../public/assets/homepage/hero-bg-desktop@2x.jpg");
  }

  .hero__text-content {
    top: 4.0625rem;
    left: 11.4583333333%;
    transform: unset;
    width: 35.2777777778%;
    max-width: 31.75rem;
    text-align: left;
  }

  .hero__logo {
    margin: 0 0 9.5625rem;
  }

  .hero__text-content p {
    margin-bottom: 2.5rem;
  }
}
